<main>

  <h1>Angular Updates</h1>

  <hr />

  <!--Rxjs-interop-->
  <section>
    <app-rxjs-interop></app-rxjs-interop>
  </section>

  <hr />

    <!--Resources-->
  <section>
    <app-resources></app-resources>
  </section>

  <hr />

  <!--Deferrable Views-->
  <section>
    <app-deferrable-views />
  </section>

  <hr />

  <!--Control Flow:-->
  <section>
    <app-control-flow />
  </section>

  <hr />

  <!--Model Inputs-->
  <section>
    <app-model-inputs [(value)]="modelInputValue" />
    <br>
    <span>input value: {{ modelInputValue() }}</span>
  </section>

  <hr />

  <!--Signal Inputs / Output function-->
  <section>
    <app-signal-inputs text="some random text" (customEvent)="handleCustomEvent($event)" />
  </section>

  <hr />

  <!--Signal Queries-->
  <section>
    <app-signal-queries>
      <p #content>Projected content</p>
    </app-signal-queries>
  </section>

  <hr />

  <!--Signal Effect-->
  <section>
    <app-signal-effect />
  </section>

  <hr />

  <!--Signal Computed-->
  <section>
    <app-signal-computed />
  </section>

  <hr />

  <!--Linked Signal-->
  <section>
    <app-linked-signal />
  </section>

  <hr />

</main>